header {
    background: #00920c;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: full-width;
    color: #000000;
    font-weight: IE 3;
    font-size: 22px;
    text-decoration: Firefox 1;
}